.login-box {
    width: 400px;
    height: auto;
    background: rgb(247, 206, 255);
    padding: 30px 20px;
    border-radius: 7px;
    box-shadow: 0px 1px 5px rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.haveAccount {
    text-align: end;
    text-decoration: none;
}

.haveAccount:hover {
    text-decoration: underline;
}

.btn {
    background-color: rgb(255, 93, 247);
    border: 2px solid rgb(255, 93, 247);
    font-size: large;
    color: white;
}

.btn:hover {
    background-color: rgb(255, 14, 243);
    border: 2px solid rgb(255, 14, 243);
    color: white;
}

.flashes{
    width: 100%;
}