{% extends 'layout/home_layout.html' %}

{% block content %}
<style>
    .container {
        width: 100vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }
</style>

<div class="container">
    <div class="card-box col-12 col-md-6 col-sm-12 col-lg-8 mt-3">
        <div class="card" style="width: 100%;">
            <img src="{{url_for('static', filename='images/japan.jpg')}}" class="card-img-top" alt="japan">
            <div class="card-body">
                <h5 class="card-title">{{blog.title}}</h5>
                <p class="card-text">{{blog.content}}</p>
            </div>
        </div>
        <form action="{{url_for('addComment', blogId=blog.id)}}" action="POST" class="mt-4">
            <div class="form-floating">
                <input type="text" class="form-control" id="comment" name="comment" placeholder="comment">
                <label for="comment">Comment</label>
                </input>
                <button class="btn btn-primary mt-2 float-end">Add Comment</button>
                <div class="clearfix mb-3"></div>
        </form>
        {% for comment in comments %}
        <div class="card border-dark mb-3">
            <div class="card-header">{{comment.username}}</div>
            <div class="card-body text-dark">
                <p class="card-text">{{comment.comment}}</p>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock content %}