{% extends "layout/home_layout.html" %}


{% block content %}


<div class="container d-flex justify-content-center">
    <form class="mt-5" style="width: 50%;" action="{{ url_for('login') }}" method="POST" class="login-box">
        <div class="form-floating mb-3">
            <input id="title" name="email" type="email" class="form-control" placeholder="name@example.com">
            <label for="title" class="form-label">Title</label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" id="content" rows="4" cols="50" placeholder="Leave a comment here" style="height: 100px"></textarea>
            <label for="content">Content</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}