{% extends "layout/home_layout.html" %}


{% block content %}

<div class="container w-100 d-flex align-items-center flex-column justify-content-center">
    <div class="row w-100 justify-content-center">
        <div class="col col-lg-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == "success" %}
            <div class="alert alert-success alert-dismissible fade show mt-5 w-100" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% else %}
            <div class="alert alert-danger alert-dismissible fade show mt-5 w-100" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% for field, errors in form.errors.items() %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ ', '.join(errors) }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            <form class="mt-5" action="{{ url_for('createBlog') }}" method="POST" class="login-box"
                enctype="multipart/form-data">
                {{form.hidden_tag()}}
                {{formFile.file(class="form-control mb-3")}} 
                {{form.title.label}} {{form.title(class="form-control mb-3")}}
                {{form.content.label}} {{form.content(class="form-control mb-3")}}
                {{form.category.label}} {{form.category(class="form-control mb-3")}}
                {{form.submit(class="btn btn-success w-100")}}
                <a href="{{url_for('home')}}" class="btn btn-warning mt-2 w-100">Back</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}